<div id="about" class="h-32"></div>
<section id="about" class="h-full grid grid-cols-12 text-center">
  <div class="col-start-2 col-end-12">
    <h2 class="text-3xl md:text-6xl font-bold mb-10 md:mb-16">
      Perché una landing<br /> page <u>gratis?</u>
    </h2>
    <p class="md:text-xl mb-8 px-5">
      Per costruire un portfolio personale che contenesse <b>progetti reali</b>,
      ho deciso di selezionare alcune idee originali sulle quali lavorare <b
        >gratuitamente</b
      >, così da offrire le mie competenze in cambio della sola possibità di
      sperimentare nuove soluzioni creative.<br /><br /> Vuoi candidare il tuo progetto?
      <a href="/landing-page"
        ><span class="text-[#218DF1]"><u>Compila il modulo</u></span></a
      > o scrivimi direttamente!
    </p>
  </div>
</section>
