---
import Card from "../components/Card.astro";
---

<div id="detail" class="h-32"></div>
<Card />
<div
  class="w-full flex flex-col justify-center items-center text-center px-8 pb-0 pt-24 md:pt-0 md:p-16"
>
  <h2 class="text-2xl md:text-5xl font-bold">
    Nessun costo nascosto.<br /> Nessun impegno futuro.
  </h2>
  <p class="md:text-xl mt-6">
    Un’occasione per far crescere la tua attività online.<br /> Cogli l’opportunità
    di avere una landing page professionale e orientata alla conversione di nuovi
    clienti.
  </p>
  <a href="/landing-page">
    <div
      class="w-40 text-white bg-[#218DF1] border-2 border-[#218DF1] rounded-full py-2 px-5 cursor-pointer hover:scale-105 transition duration-200 mt-5"
    >
      Richiedi subito
    </div>
  </a>
</div>
