<div
  class="w-full flex justify-center items-center flex-wrap lg:flex-nowrap gap-5 pb-0 md:mb-32 special-padding"
>
  <div
    class="h-[300px] flex flex-col justify-center items-center text-center shadow-lg rounded-xl p-5"
  >
    <img src="/public/speed.svg" alt="speed-icon" />
    <h4 class="text-xl py-2 font-semibold">Alte prestazioni</h4>
    <p>
      Una landing page ottimizzata nelle performance, con tempi di caricamento
      minimi e con l’obiettivo di ridurre la percentuale di abbandono degli
      utenti.
    </p>
  </div>
  <div
    class="h-[300px] flex flex-col justify-center items-center text-center shadow-lg rounded-xl p-5"
  >
    <img src="/public/lens.svg" alt="lens-icon" />
    <h4 class="text-xl py-2 font-semibold">Ottimizzazione SEO</h4>
    <p>
      Una landing page posizionata tra i primi risultati di ricerca. Dedicando
      la giusta attenzione alla scelta delle keywords e applicando le best
      practice lato SEO.
    </p>
  </div>
  <div
    class="h-[300px] flex flex-col justify-center items-center text-center shadow-lg rounded-xl p-5"
  >
    <img src="/public/accessibility.svg" alt="accessibility-icon" />
    <h4 class="text-xl py-2 font-semibold">Accessibilità</h4>
    <p>
      Una landing page accessibile a tutti. Chiunque sarà in grado di navigare
      correttamente all’interno della tua pagina web senza ostacoli.
    </p>
  </div>
</div>
